.product-reviews {
  list-style: none;
  padding: 0px;
}
.product-reviews .product-reviews-item {
  display: block;
  padding: 8px 0px;
}

.like-container {
  margin-top: 20px;
}

.like-container button {
  margin-top: 5px;
}